accelerate
bitsandbytes
datasets
geonamescache
git+https://github.com/facebookresearch/segment-anything.git
googletrans==3.1.0a0
google-cloud-vision
img2dataset
linktransformer
matplotlib
onnx
onnxruntime
opencv-python
pandas
Pillow==9.5.0
plotly==5.18.0
pycocotools
pycountry==20.7.3
pytorch-lightning
seaborn
sentence-transformers
seqeval
simplejson
tensorboard
timm
# --upgrade diffusers[torch]
# -U kaleido